<mat-card *ngIf="flat" class="card">
  <div class="card-title">
    <mat-card-title><span><span class="d-none d-sm-inline-block">Oferta nr </span> # {{flat.id}}</span></mat-card-title>
    <mat-card-subtitle>Rynek {{flat.market}}</mat-card-subtitle>
    <ng-container *ngIf="checkedList">
      <mat-checkbox (change)="onCheckBoxChange()" [checked]="flat.isAccepted"></mat-checkbox>
    </ng-container>
  </div>
  <mat-card-content>
    <div class="card-content-line">
      <div class="card-content__main"><fa-icon [icon]="areaIcon"></fa-icon><span class="d-none d-lg-inline-block">Powierzchnia: </span> {{flat.area}} m<sup>2</sup></div>
      <div class="card-content__main"><fa-icon [icon]="priceIcon"></fa-icon><span class="d-none d-lg-inline-block">Cena: </span> {{flat.price}} zł</div>
      <div>
        <fa-icon [icon]="roomIcon"></fa-icon>{{flat.roomNumber}} {{flat.roomNumber === 1 ? 'pokój' : flat.roomNumber < 5 ? 'pokoje' : 'pokoi'}}
      </div>
      <div>
        <fa-icon [icon]="constructionIcon"></fa-icon> {{flat.constructionYear}}r.
      </div>
      <div>
        <fa-icon [icon]="floorIcon"></fa-icon>{{flat.floor}} / {{flat.floorInBuilding}}p.
      </div>
      <div>
        <fa-icon [icon]="carIcon"></fa-icon> {{flat.isGarage ? 'Garaż' : flat.isParkingSpace ? 'Miejsce parkingowe' : 'brak'}}
      </div>
      <div class="card-content__wide">
        <fa-icon [icon]="stateIcon"></fa-icon> Stan: {{flat.state ?? 'brak informacji'}}
      </div>
      <div class="card-content__wide">
        Dodatkowo: {{flat.isLift ? 'Winda ' : ''}}{{flat.isBalcony ? 'Balkon ' : ''}}{{flat.isTarrace ? 'Taras ' : ''}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
