.list-container {
  padding: 20px 10px;
  width: 100%;
}

mat-progress-spinner {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.list-title {
  font-size: 20px;
}

mat-paginator {
  background: none;
}

@media (min-width: 576px) {
  .list-container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .list-container {
    padding: 30px;
  }
  .list-title {
    font-size: 26px;
  }
}
