<main class="home-wrapper" >
  <h1 class="title">Wyceń swoje mieszkanie!</h1>
  <p class="lead">
    FlatAppraisal to internetowa platforma, która pozwoli Ci oszacować wartość mieszkania.
    Wykorzystując sztuczną inteligencję i bogatą bazę ogłoszeń możesz w łatwy sposób dowiedzieć
    jaka jest wartość nieruchomości o danych parametrach.
  </p>
  <p class="lead">
    <a routerLink="/flats/form" class="btn btn-lg btn-secondary fw-bold border-white bg-white button">Wypełnij formularz</a>
  </p>
</main>
