<div class="form-container">
  <h1>Utwórz konto</h1>
  <form class="form-floating" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Email</mat-label>
      <input matInput
             placeholder="Email"
             formControlName="email"
             required
             type="email">
      <mat-error *ngIf="signupForm.controls.email.hasError('required')">Email jest wymagany.</mat-error>
      <mat-error *ngIf="signupForm.controls.email.hasError('pattern')">Wprowadź poprawny adres email.</mat-error>
      <mat-error *ngIf="signupForm.controls.email.hasError('emailExist')">Email jest już zajęty.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Nick</mat-label>
      <input matInput
             type="text"
             placeholder="Nick"
             formControlName="nickName"
             required>
      <mat-error *ngIf="signupForm.controls.nickName.hasError('required')">Nick jest wymagany.</mat-error>
      <mat-error *ngIf="signupForm.controls.nickName.hasError('pattern')">Nick może zawierać tylko litery i cyfry oraz musi zaczynać się od litery.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Hasło</mat-label>
      <input matInput
             [type]="hide ? 'password' : 'text'"
             placeholder="Hasło"
             formControlName="password"
             required>
      <button mat-icon-button matSuffix (click)="toggleHide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.controls.password.hasError('required')">Hasło jest wymagane.</mat-error>
      <mat-error *ngIf="signupForm.controls.password.hasError('pattern')">Hasło musi mieć min. 8 znaków, 1 literę i 1 cyfrę.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput
             placeholder="Potwierdź hasło"
             formControlName="confirmedPassword"
             [type]="hide ? 'password' : 'text'"
             required
             [errorStateMatcher]="passwordsMatcher">
      <button mat-icon-button matSuffix (click)="toggleHide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.controls.confirmedPassword.hasError('required')">Potwierdzenie hasła jest wymagane.</mat-error>
      <mat-error *ngIf="signupForm.hasError('passwordsNotEqual')">Hasła muszą być identyczne.</mat-error>
    </mat-form-field>

    <div  class="error">
      <mat-error *ngIf="error">{{error}}</mat-error>
    </div>

    <button [disabled]="signupForm.invalid"
            mat-raised-button
            color="primary"
            type="submit"
            class="button">
      Załóż konto
    </button>
  </form>
  <p class="text-under-form">Masz już konto? <a routerLink="/account/login">Zaloguj się</a></p>
</div>
