.container {
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.4);
  max-width: 600px;
}

.model {
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
  align-content: center;
}

.model-button {
  text-align: center;
}

mat-progress-spinner {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
