<div class="mat-elevation-z8" *ngIf="currentLandOffer">
  <!--<table mat-table [dataSource]="dataSource" matSort class="table table-striped">-->
    <!-- User name Definition -->
    <!--<ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
    </ng-container>-->

    <!-- Age Definition -->
    <!--<ng-container matColumnDef="area">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Area </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.area}} </mat-cell>
    </ng-container>-->

    <!-- Title Definition -->
    <!--<ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>-->

    <!-- Header and Row Declarations -->
    <!--<mat-header-row *matHeaderRowDef="['price', 'area', 'description']"></mat-header-row>
    <mat-row
             *matRowDef="let row; columns: ['price', 'area', 'description']"
            >
    </mat-row>
  </table>-->
  <app-land-offer [landOffer]="currentLandOffer" (nextEvent)="onNext()" (previousEvent)="onPrevious()" (submitEvent)="submit($event)" ></app-land-offer>
</div>
