.land-ofer {
    margin: 25px auto;
}

.land-ofer__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 700;
}

.land-ofer__content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.land-offer__media-description {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

  .land-offer__media-description div {
      margin-right: 20px;
  }

  .land-ofer__form {
    margin-top: 25px;
    padding: 15px;
    width: 100%;
  }

.land-ofer__form section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.land-ofer__form__buttons {
    margin-top: 50px;
  }

  .land-ofer__form__buttons button {
      width: 200px;
  }
