<div *ngIf="landOffer" class="land-ofer">
  <header class="land-ofer__header">
    <div>Oferta numer: {{landOffer.id}}</div>
    <div>Cena: {{landOffer.price}} zł</div>
    <div>Powierzchnia: {{landOffer.area}} m<sup>2</sup></div>
  </header>
  <main class="land-ofer__content">
    <div class="land-ofer__description">{{landOffer.description}}</div>
    <div class="land-offer__media-description">
      <div *ngIf="landOffer.sewers">Kanalizacja: {{landOffer.sewers}}</div>
      <div *ngIf="landOffer.electricity">Prąd: {{landOffer.electricity}}</div>
      <div *ngIf="landOffer.gas">Gas: {{landOffer.gas}}</div>
      <div *ngIf="landOffer.water">Woda: {{landOffer.water}}</div>
    </div>
    <form [formGroup]="landOfferForm" class="land-ofer__form">
      <section>
        <mat-checkbox formControlName="isSewers" [checked]="landOffer.isSewers ?? false">Kanalizacja</mat-checkbox>
        <mat-checkbox formControlName="isElectricity" [checked]="landOffer.isElectricity ?? false">Prąd</mat-checkbox>
        <mat-checkbox formControlName="isGas" [checked]="landOffer.isGas ?? false">Gas</mat-checkbox>
        <mat-checkbox formControlName="isWater" [checked]="landOffer.isWater ?? false">Woda</mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>Droga</mat-label>
          <input formControlName="road" matInput [(ngModel)]="landOffer.road">
        </mat-form-field>
      </section>
      <section class="land-ofer__form__buttons">
        <button mat-raised-button color="primary" (click)="onPrevious()">Poprzednia oferta</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Zapisz</button>
        <button mat-raised-button color="primary" (click)="onNext()">Następna</button>
      </section>
    </form>
  </main>
</div>
